# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app


#  CUSTOM ********************************

build
*.log

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Visual Studio
*.vcxproj
*.vcxproj.*
*.sln

# VSC
.vscode/settings.json

# ItelliJ
.idea

# Sonar
.scannerwork

# Blender
**/*.blend1
